/* Reset default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e8e8e8;
}

header {
    background-color: #333;
    color: #fff;
    padding: 35px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-links {
    float: right;
    display: flex;
    gap: 20px;
}

.header-links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 35px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.cart-icon {
    float: right;
}

.cart-icon img {
    width: 25px;
    height: 25px;
}

.signup-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.signup-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.signup-form label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.signup-form input[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d4af37;
    color: #fff;
    text-decoration: none;
    border-radius: 7px;
    transition: background-color 0.3s ease;
}

.signup-form input[type="submit"]:hover {
    background-color: #9c8129;
}

.signup-container p {
    margin-top: 20px;
}

footer {
    margin-top: 10px;
    background-color: rgb(61, 61, 61);
    padding: 20px;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  p {
    text-align: center;
    margin-top: 10px;
  }